.img_box {
    max-width: 70px;
    margin: 0 auto;
}
section.catogary {
    padding: 50px;
}
.col_20inner.row_box {
    grid-template-columns: auto;
}
.catogary_box {
    max-width: 1200px;
    margin: 0 auto;
}
.col_20inner.row_box {
    grid-row-gap: 0;
}

@media(max-width:767px){
    .img_box img {
        height: 83px;
        object-fit: contain;
    }
   section.catogary {
    padding: 30px 0px;
}
    .flex_box.catogary_box {
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .flex_box.catogary_box .col_20 {
        width: 46%;
    }
    .catogary_box ul.react-multi-carousel-track .flex_box {
        display: block;
        text-align: center;
    }
    h5 {
        font-size: 18px;
    }
}
@media(min-width:768px) and (max-width:1024px){
    section.catogary {
        padding: 30px;
    }
    
    .flex_box.catogary_box {
        gap: 20px;
    }
    
    h5 {
        font-size: 22px;
    }
    
    h6 {
        font-size: 17px;
    }
    .catogary_box ul.react-multi-carousel-track li {
        display: flex;
        text-align: center;
        justify-content: center;
    }
}
