
section.kids_section .row_box {
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 0px;
}

.inner_img {
    max-width: 242px;
}

.kids_inner {
    max-width: 1000px;
    margin: 0 auto;
}
@media(max-width:767px){
    section.kids_section .row_box {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 23px;
    }
    .kids_inner ul.react-multi-carousel-track li {
        text-align: center;
    }
    section.kids_section .row_box .col:nth-child(2) .inner_img {
        max-width: 108px;
        display: flex;
        justify-content: end;
    }
    section.kids_section .row_box .col {
        display: inline-grid;
        justify-content: center;
    }
    .col.kidsproduct img {
        max-width: 110px;
        height: 58px;
    }
}
@media(min-width:768px) and (max-width:1024px){
    .kids_inner {
        padding: 20px;
    }
    section.kids_section .row_box {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 25px;
    }
}