section.productslisting {
    padding: 50px 0px;
}

.listing-box {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.listing-inner h4 {
    text-align: left;
    padding-bottom: 10px;
    letter-spacing: -1px;
    font-family: 'Patrick Hand';
    border-bottom: 2px dotted #8956ff;
    margin-bottom: 20px;
}
.listing-inner span {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins';
}
.listing-inner ul li {
    font-size: 18px;
    text-transform: capitalize;
    padding: 12px 0px;
    border-bottom: 2px dotted #ccc;
}

.listing-inner #searchitem {
    padding: 10px;
    border: 1px solid #Ccc;
    border-radius: 4px;
    width: 100%;
    margin:0 0 20px 0px;
}
.searchingbox {
    position: relative;
}
.listing-inner .flex_box {
    align-items: start;
    gap: 30px;
}
.searchingbox label {
    position: absolute;
    right: 13px;
    top: 9px;
}
.listing-inner input#vol {
    border: 1px solid #Ccc;
    border-radius: 4px;
    width: 100%;
}
.listing-inner .flex_box.content-end {
    justify-content: end;
    margin-top: 14px;
}
.listingbody .flex_box.products .col_25 {
    width: 31%;
}
.listing-inner .flex_box .col_50 {
    width: 49%;
}
.listingbody {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 11px;
}
.listing-inner button.btn_pink {
    border-radius: 9px;
    display: flex;
    align-items: center;
    gap: 11px;
    padding: 6px 22px;
}
.product_content span.flex_box {
    display: flex !important;
    justify-content: center;
    gap: 12px;
    align-items: center;
}
span.mrp {
    text-decoration: line-through;
    text-decoration-color: #ccc;
    color: #ccc !important;
}
.product_content.col span.border button.btn_purple a {
    text-align: end;
    margin-left: 15px;
}