@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Patrick+Hand&display=swap');

@media(min-width:1700px) {
  .container {
    max-width: 1600px;
    margin: 0 auto;
  }

}
@media(min-width:1100px) and (max-width:2000px){
  h5 {
    font-size: 22px !important;
}
.col_20inner.row_box {
  padding: 10px;
}
}

@media (max-width:1600px) {

  .container {
    max-width: 1400px;
    margin: 0 auto;
  }
}

body {
  margin: 0 auto;
}

ul {
  padding: 0px;
  margin: 0px;
}

i.star {
  text-align: center;
}

ul li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

.flex_box {
  display: flex;
  align-items: center;
}

header {
  padding: 30px;
  position: relative;
}

header::after {
  content: '';
  height: 50px;
  width: 100%;
  position: absolute;
  background-image: url(./components/images/HEADER__2.png);
  background-size: contain;
  background-position: center;
  left: 0;
  bottom: -34px;
  z-index: 9980;
}

.col_20 {
  width: 20%;
}

.col_25 {
  width: 25%;
}

.col_50 {
  width: 50%;
}

.col_33 {
  width: 33.33%;
}

.col_70 {
  width: 67%
}

.col_40 {
  width: 40%;
}

.col_60 {
  width: 60%;
}
.product_content.col span.border button.btn_purple span {
  color: #fff !important;
  font-size: 18px;
  text-transform: capitalize;
  font-family: 'Patrick Hand';
}
 h5.coupon {
  color: green;
}
h2 {
  font-size: 45px;
  color: #000;
  text-align: center;
  font-family: "Patrick Hand";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin: 0px;
  padding: 0px 0px 30px;
}

h1 {
  font-size: 100px;
  color: #000;
  font-family: "Patrick Hand";
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
  text-transform: uppercase;
  margin: 0px;
  padding-bottom: 30px;
}

h3 {
  color: #000;
  text-align: center;
  font-family: "poppins";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin: 0px;
}

h4 {
  font-size: 29px;
  color: #8956FF;
  text-align: center;
  font-family: "poppins";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  margin: 0px;
}

img {
  width: 100%;
}

h5 {
  color: #000;
  text-align: center;
  font-family: "Patrick Hand";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin: 0px;
  padding: 10px 0px;
}

h6 {
  color: rgba(0, 0, 0, 0.76);
  text-align: center;
  font-family: "poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin: 0px;
}

.w-100 {
  width: 100%;
}

.gap_30 {
  gap: 70px;
}

.gap_20 {
  gap: 20px;
}

p {
  color: #FFF;
  font-family: "poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  text-transform: lowercase;
  margin: 0px;
  padding-bottom: 16px;
}

.text_center {
  text-align: center;
}

button.btn_purple {
  border-radius: 38px;
  background: #BE79EC;
  border: none;
  padding: 10px 40px;
  border-radius: 27px;
  display: block;
  margin: 0 auto;
}

button {
  text-align: center;
  font-family: 'Patrick Hand';
  font-size: 21px;
  font-style: normal;
  font-weight: normal;
  text-transform: capitalize;
  color: #fff;
}

strong.light {
  color: #FC76A9;
  font-weight: bold;
}

ul li,
header span {
  font-size: 20px;
  color: #000;
  font-family: "poppins";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

button.btn_pink {
  background-color: #FC76A9;
  color: #FFF;
  border: none;
  padding: 10px 40px;
  border-radius: 27px;
}

header li {
  padding: 0px 10px;
}

.search_box input {
  border-radius: 27px;
  background: #FFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  width: 100%;
  padding: 16px;
}

i.user::before {
  content: '';
  height: 23px;
  width: 23px;
  background-image: url(./components/images/user.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: -30px;
  top: 4px;
}

i.user {
  position: relative;
}

.search_box span {
  padding-left: 40px;
}

.logo img {
  max-width: 200px;
}

i.search {
  background: #fc76a9;
  padding: 21px;
  border-radius: 100%;
  position: absolute;
  right: 5px;
  top: 2px;
}

.input_box {
  position: relative;
  width: 65%;
}

i.search::before {
  content: '';
  height: 20px;
  width: 20px;
  position: absolute;
  background-image: url(./components/images/search_icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  left: 12px;
  top: 13px;
}

.search_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row_box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.col {
  display: inline-grid;
  justify-content: center;
  align-items: center;
}

.row_box.catogary_box .col:hover {
  background: #8956ff85;
  padding: 20px;
  border-radius: 10px;
  transition: 1s;
}

section.new_toys .flex_box .col_50:nth-child(1) .top_box:hover {
  rotate: 0deg;
  transition: 1s;
}

section.new_toys .flex_box .col_50:nth-child(2) .top_box:hover {
  rotate: 0deg;
  transition: 1s;
}

span.toys button.btn_purple:hover {
  rotate: 0deg;
  transition: 1s;
}

.product_img.col:hover {
  transform: translate(0px, 10%);
  transition: 1s;

}

button.btn_purple:hover {
  background: #fff;
  border: 2px solid #be79ec;
  color: #000;
  transition: 1s;
}

.testimonial_inner:hover {
  zoom: 90%;
  transition: 1s;
}

/* header banner css start here */
.header_banner_bg {
  background-image: url('./components/images/haeder_banner.png');
  background-position: center;
  background-size: cover;
  padding: 120px 0px;
  text-align: center;
}

nav ul li {
  display: inline-block;
}

/* header banner css end here */
a {
  text-decoration: none;
}

@media(max-width:575px) {
  

  .row_box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  

  h3 {
    font-size: 24px;
    line-height: 33px;
  }

  h4 {
    font-size: 22px;
  }

  h2 {
    font-size: 27px;
    padding-bottom: 10px;
  }

  .col {
    display: block;
  }

  button {
    font-size: 18px;
    padding: 1px;
  }

  button.btn_purple {
    padding: 10px 25px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }
}

.d_none {
  display: none;
}

.onlyMobile {
  display: none;
}

@media(max-width:992px) {
  header::after {
    height: 12px;
    bottom: -8px;
  }

  .logo img {
    max-width: 106px;
  }

  .col_50.content_end {
    display: flex;
    justify-content: end;
  }

  header {
    background: none;
    padding: 10px;
    position: relative;
  }

  .toggle_items {
    position: absolute;
    left: 0;
    float: left;
    width: 100%;
    background: #bf65ff;
    padding: 10px;
    z-index: 9999;
  }

.toggle_items ul li {
    display: block;
    color: #fff;
    border-bottom: 1px solid;
    font-size: 17px;
    padding: 12px 0px;
    font-family: 'Poppins';
}

  .toggle_btn {
    border: none;
    background: none;
    max-width: 35px;
  }

  .OnlyDesktop {
    display: none;
  }

  .onlyMobile {
    display: block !important;
  }
}

@media(min-width:768px) and (max-width:1024px) {
  button {
    font-size: 16px;
  }
}

.col_75 {
  width: 75%;
}

h2.text-center {
  text-align: center !important;
}

input::placeholder {
  font: 16px;
  color: #ccc;
  font-family: 'poppins';
}

button.btn_pink:hover {
  background: #fff;
  border: 2px solid #ef13a6;
  color: #000;
  transition: 1s;
  cursor: pointer;
}

section.banner .react-multiple-carousel__arrow--left:hover,
section.banner .react-multiple-carousel__arrow--right:hover {
  background: transparent;
}

.img_box:hover {
  transform: translate(10px, 10px);
  transition: 1s;
}

input {
  outline: none;
}

span.cartItem {
  position: absolute;
  background: #eb6db0;
  padding: 1px 1px;
  font-size: 15px;
  height: 25px;
  width: 25px;
  text-align: center;
  border-radius: 100%;
  right: -9px;
  top: -12px;
  color: #fff;
}

a {
  color: #000;
}

.search_box li {
  position: relative;
}

.product_content {
  text-align: center;
}

.cart_empty {
  width: 100%;
  background: linear-gradient(42deg, #a643b9, #ff56c161);
  padding: 30px;
  text-align: center;
  border-radius: 30px;
}

.cart_empty p {
  padding: 0px;
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 600;
}

.tabing-mobile ul li {
  text-align: left;
  font-size: 15px;
  line-height: 31px;
}

.tabing-mobile {
  background: #f7ccda;
  width: auto;
  padding: 10px;
}

.kidsproduct img {
  max-width: 155px;
  height: 100px;
  object-fit: contain;
}

